@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@theme {
    --color-mg-yellow: #facc00;
    --color-mg-blue: #111827;
    --color-mg-offwhite: #f9fafb;

    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Inter', sans-serif;

}