@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-mg-yellow: #facc00;
  --color-mg-blue: #111827;
  --color-mg-offwhite: #f9fafb;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Inter", sans-serif;

  @keyframes rotate-lr {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(10deg);
    }
  }

  --animate-rotate-lr: rotate-lr 0.5s ease-in-out infinite;

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  --animate-scroll: scroll 60s linear infinite;
}
